@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --branco: #FFFFFF;
    --fundo:  #edebf3;
    --cor-fonte: #464646;
    --cor-fonte-texto:#A3A3A3;
    --laranja: #FFB050;
    --azul: #4894FF;
    --fonte-primaria: "Montserrat", sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fundo);
    font-family: var(--fonte-primaria);
    color: var(--cor-fonte);
  
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
    padding: 5px 16px 6px 16px;
    background-color: var(--branco)
}

.cabeçalho__container{
    display: flex;
    gap: 16px;
}

.banner{
    display: flex;
    width: 100%;
    height: 114px;    
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

.banner__imagem{   
    border-radius: 50%;
    width: 65px;
    height: 65px;
    left: 16px;
    justify-content: center;
    margin-left: 15px;
   
}
.banner__conteudo{
    display: flex;    
    align-content: center;
    flex-direction: column;
    margin-left: 15px;
}

.banner__titulo{
    font-weight: 700;
    font-size: 22px;
    line-height: 35.2px;
}

.banner__texto{
    color: var(--cor-fonte-texto);
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
}

.agenda{
    margin: auto;
    margin-bottom: 10px;
    background-color:var(--branco);
    width: 95%;
    height: 160px;
    border-radius: 8px;
}

.agenda__dia{
    font-weight: 700;
    font-size: 16px;
    line-height: 25.6px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.agenda__principal{
    display: flex;
    justify-content: space-between;   
    border-bottom: 0.5px solid var(--cor-fonte-texto);
    padding-bottom: 5px;
    
}
.imagem__paciente{
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 16px;  
    margin-top: 15px;
    margin-left: 30px; 
}

.imagem__chat{      
    align-items: start;
    margin-right: 30px;
}

.agenda__dados{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 50%;    
}

.agenda__tipo__consulta{
    display: flex;
    gap: 5px;
}

.agenda__nome{
    font-weight: 700;
    font-size: 14px;
    line-height: 22.4px;
    color: var(--cor-fonte);
}

.agenda__class{
    font-weight: 400;
    font-size: 12px;
    line-height: 19.2px;
    color: var(--cor-fonte-texto);
}

.agenda__horario{
    margin-left: 30px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 19.2px;
    color: var(--cor-fonte);
}

.agenda__botao{
    display: flex;
    justify-content: center;
    margin-top: 15px;      
    gap: 15px;
    
   
}

.botao__link{
    padding: 10px;
    border-radius: 8px ;
    border: 1px solid var(--cor-fonte-texto);  
    background-color: transparent; 
}

.video{
    color: var(--branco);
    background-color: var(--laranja);
    border: 1px solid var(--laranja)
}

.endereco{
    background-color: var(--azul);
    color: var(--branco);
    width: 50%;
    border: 1px solid var(--azul)
}

.rodape {
    background-color: #f8f8f8;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    min-height: 60px;
}


.lista__rodape {
    display: flex;
    justify-content: space-around; 
    list-style: none;   
}

.lista-rodape__item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    
   
}

.lista-rodape__item, .rodape__imagem {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.lista-rodape__link{
    text-decoration: none;
    color: var(--cor-fonte-texto);
    font-weight: 400;
    font-size: 12px;
    line-height: 19.2px;
    text-align: center;
}

.consulta{
    color: var(--azul);
}

.botao-flutuante {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: var(--azul);
    color: var(--branco);
    padding: 15px 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;  
}


